.tag-collection {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.tag-collection-header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

.collection-name {
  margin: 0;
  margin-left: 10px;
}

.collection {
  display: flex;
  position: relative;
  padding-left: 16px;
  margin-left: 32px;
}

.collection::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 100%;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.tag-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tag-item {
  display: flex;
  gap: 3px;
}
