nav.nav-bar {
    display: flex;
    justify-content: space-between; /* Logo izquierda, links derecha */
    align-items: center;
    background-color: var(--primary-color1);
    padding: 0.5rem 2%;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-right {
    list-style-type: none;
    display: flex;
    gap: 10px; /* Espaciado entre links */
    margin: 0;
    padding: 0;
}

.nav-bar-item {
    color: var(--font-color);
    padding: 0.3rem 1rem;
    background-color: var(--background-light);
    font-family: "Space Mono", serif;
    font-weight: 700;
    font-size: clamp(0.7rem, 1.3vw, 1.5rem);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    transition: background-color 0.5s ease, transform 0.5s ease;
}

.nav-bar-item:hover {
    background-color: var(--primary-color3);
    cursor: pointer;
}

.header-logo {
    height: 3vh;
    cursor: pointer;
}

.search-bar-section {
    display: flex; /* Para que los hijos estén en línea */
    align-items: center; /* Centrar verticalmente */
    background-color: var(--primary-color3);
    color: var(--font-color);
    width: 40vw;
    height: 2rem;
    border-radius: 7px;
    padding: 0 0.5rem; /* opcional, para que no pegue el contenido al borde */
}

.input-section {
    flex: 1; 
    background-color: transparent;
    border: none; 
    height: 100%;
    color: inherit; 
    font-size: 1rem; 
    outline: none; 
}

.search-button {
    background-color: transparent;
    border: none;
    width: 5vh; 
    height: 100%; 
    cursor: pointer; 
}

