/* CAVE WRAPPER */
div.cave-wrapper {        
    width: 100%;
    height: fit-content;    
    position: absolute;   
    overflow: hidden; 
}

div.cave-wrapper img{    
    width: 100%; /* Ensures the images scale properly */
    height: auto; /* Maintain aspect ratio */            
}

/* CAVE INSIDE AND MIDDLE */
.cave-inside{
    position: absolute;
    z-index: 0;
    top: 50%;
    transform: translateY(-50%)
}

.cave-middle{
    position: absolute;
    z-index: 0;
    top: 50%;
    transform: translateY(-50%)
}

/* CAVE OUTSIDE WRAPPER */
div.cave-outside-wrapper {
    height: fit-content;    
}

div.cave-outside-wrapper img{    
    position: relative;
    z-index: 1;
}







  
