.blog-card {
  width: 100%;
  height: 100%;
  padding: 0.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0.2rem;
  border-color: var(--primary-color5);
  border-width: 0.1rem;
  border-style: solid;
  height: auto;
  min-height: 23rem;
  max-width: 100%;
  color: var(--font-color);
  transition: transform 0.3s ease; 
}

p {
  font-size: 0.8rem;
}

.blog-card:hover {
  transform: scale(1.05); 
  border-width: 0.15rem;
  border-color: var(--primary-color3);
  cursor: pointer;
}

.blogC-header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: var(--font-subtitle);
}

.blogC-title {
  font-family: var(--font-subtitle);
  display: -webkit-box;
  -webkit-line-clamp: 2;     
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-card img{
  width: 100%;
  max-height: 10rem;
}

.blogC-tags {
  font-family: var(--font-paragraph);
  display: flex;
  flex-wrap: wrap;          
  width: 100%;
  gap: 0.5rem;               
  max-height: calc(2 * 2em); 
  justify-content: flex-start; 
}

.blogC-tags p {
  margin: 0;
  color: var(--font-color1);
  white-space: nowrap;   
  font-size: 0.85rem;    
}

