@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&family=Space+Mono:wght@400;700&display=swap');
@import url('./styles/fonts.css');

html{
  font-size: var(--root-em);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--font-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  height: 100vh;
}

:root {
  --font-title: 'TheBoldFont';
  --font-subtitle: 'Satoshi';
  --font-paragraph: 'Mononoki Mono';
  --font-paragraph2: 'Mononoki Propo';
  
  --primary-color1: #fbf7f4;
  --primary-color2: #f2e9e2;
  --primary-color3: #f1c4be;
  --primary-color4: #D55C51;
  
  --background-color: #f5f5f5;
  --font-color: #19002a;
  --font-color2:rgb(54, 1, 90);
  --cave-background: #3c3042;
  
  --root-em: 16px;
  --mobile-width: 768px;
}

/* --- Tema Oscuro --- */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color1: #19002a;
    --primary-color2: #935FB8;
    --primary-color3: #C5ABD6;
    --primary-color4: #D55C51;
    
    --background-color: ;
    --font-color: #ffffff;
    --font-color2:rgb(255, 255, 255)f;
    --cave-background: #ffffff;

  }
}


footer { 
  font-family: "Space Mono", serif;
  color: var(--font-color);
}