html{
  font-size: var(--root-em);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  height: 100vh;
}

:root{
  --primary-color1: #1A0029;
  --primary-color2: #935FB8;
  --primary-color3: #C5ABD6;
  --primary-color4: #D55C51;
  --root-em: 16px;
  --mobile-width: 768px;
}