/* CAVE WRAPPER */
div.cave-wrapper {        
    width: 100%;
    height: fit-content;    
    position: relative;   
    overflow: hidden; 
    background-color: var(--cave-background);
}

div.cave-wrapper img{    
    width: 100%; /* Ensures the images scale properly */
    height: auto; /* Maintain aspect ratio */            
}

/* CAVE INSIDE AND MIDDLE */
.cave-inside{
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%)
}

.cave-middle{
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%)
}

/* CAVE OUTSIDE WRAPPER */
div.cave-outside-wrapper {
    height: 99%;    
}

div.cave-outside-wrapper img{    
    position: relative;
    z-index: 2;
    height: 95%;
}

/* CAVE TITTLE */
.cave-text {
    color: var(--primary-color4);

    /* Positioning */
    margin: 0;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* Center-align child text elements */
    width: fit-content; /* Ensure .cave-text wraps its content */
}

.cave-tittle {
    /* Font */
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: clamp(3rem, 7vw + .5rem, 7rem);

    margin: 0;
}

.cave-subtittle {
    /* Font */
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;      
    font-size: clamp(0.5rem, 1.5vw + .5rem, 1.5rem);

    /* Centering */
    margin: 0;
    margin-top: 1vw;
    margin-top: 1svw;
    position: relative;
}



/* MOBILE SPECIFIC STYLES */
@media (max-width: 768px) and (max-aspect-ratio: 1/1) {
    /* CAVE WRAPPER */
    div.cave-wrapper {
        overflow: hidden;
        /* we have two heights for browser support */
        height: 95vh;
        height: 95svh;
        width: 100%;        
    }

    div.cave-wrapper img{            
        height: 100%; /* Maintain aspect ratio */            
        width: auto;
        transform: translateX(-50%);
    }
    
    /* CAVE OUTSIDE WRAPPER */
    div.cave-outside-wrapper {
        height: 100%;
        overflow: hidden;        
        align-content: center;
    }
    

    div.cave-outside-wrapper img {
        height: 100%;
        width: auto; 
        left: 50%;
        transform: translateX(-50%)            
    }

    /* CAVE INSIDE WRAPPER */
    .cave-inside {
        left: 50%;  
        /* we have two heights for browser support */      
        height: 95vh;
        height: 95svh;
    }

    .cave-middle{
        left: 50%;
        /* we have two heights for browser support */
        height: 95vh;
        height: 95svh;
    }
    
}